@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,500&display=swap');

:root{
    --landing-bg: #1F2937;
}

body{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

html{
    scroll-behavior: smooth;
}

.header{
    display: flex;
    background-color: var(--landing-bg);
    padding: 15px 0;

    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 2;
    background-color: rgba(0, 0, 0, .50);

}

.header p, .header div{
    margin: 0px 20px;
    
}

.header .logo{
    color: #F9FAF8;
    font-size: 24px;
    
}

.header .headerLinks{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: auto;
}

.headerLinks a{
    color: #F9FAF8;
    text-decoration: none;
}
.headerLinks a:hover{
    color: rgb(200, 200, 200);

}
.hero{
    background-image: url("./images/man-working-laptop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    
    height: 50vh;
    padding: 48px;
    margin-bottom: 30px;

}

.hero::after{
    content:"";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, .50);
    z-index: 0;
}

.hero .content{
    z-index: 1;
}

.hero h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero p{
    font-size: 18px;
    color: #E5e7EB;
}

.hero button{
    padding: 10px 15px;
    border: 2px solid transparent;

    background-color: #3882F6;
    color: #F9FAF8;

    text-align: center;
    text-decoration: none;
    border-radius: 8px;

}

.hero button:hover{
    background-color: transparent;
    color: #F9FAF8;
    border:2px solid rgb(173, 173, 173);
    cursor: pointer;
}

.hero button:active{
    background-color: #3882F6;
}


.informationalSection{
    text-align: center;
    margin-bottom: 30px;

}

.informationalSection h2{
    font-size: 36px;
    font-weight: bolder;
    color: var(--landing-bg);

}

.informationalSection .exampleImages{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.informationalSection .exampleImages img{
    height: 175px;

    border:#3882F6;
    border-style: solid;
    border-radius: 8px;
}

.informationalSection .exampleImages p, img{
    width: 250px;
    margin: 5px 20px;
}

.quoteSection{
    background-color: #E5e7EB;
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    flex-wrap: wrap;
}

.alignQuote .quote{
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.25;

    width: 50%;
    margin: 0 auto;

}

.alignQuote .quote::before{
  content: open-quote;  
  font-size: 48px;
  vertical-align: bottom;
  font-family: 'Times New Roman', Times, serif;
}

.alignQuote .quote::after{
    content: close-quote;  
    font-size: 48px;
    margin-left: -10px;
    vertical-align: top;
    font-family: 'Times New Roman', Times, serif;
}


.customer p{
    color: #1F2937;
    font-size: 18px;
    font-weight: bolder;

    margin: 0 25%;
    text-align: right;
}

.callToAction{
    display: flex;
    width: 70%;
    margin: 30px auto;
}

.callToAction .content{
    display: flex;
    background-color: #3882F6;
    background-clip: content-box;

    justify-content: center;
    flex-grow: 2;

    border-radius: 10px;
}

.callToAction .leftSide{
    color: #F9FAF8;

}

.leftSide .largerText{
    font-size: 32px;
    font-weight: bolder;
}

.leftSide .smallerText{
    margin-top: -24px;
    padding-bottom: 10px;
}

.callToAction .rightSide{
    align-self: center;
    margin-left: 150px;
}

.rightSide button{
    padding: 10px 25px;

    background-color: #3882F6;
    color: #F9FAF8;

    border: solid;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
}

.rightSide button:hover{
    background-color: #F9FAF8;
    color: #3882F6;
    border-color: #3882F6;
    cursor: pointer;
}


.footer{
    display: flex;
    background-color: #1F2937;
    padding: 8px;

    justify-content: center;
}

.footer p{
    color: #F9FAF8;
    display: flex;

}

@media only screen and (max-width: 480px){
    .callToAction{
        width: 100%;
    }

    .callToAction .content{
        border-radius: 0px;
    }
}
