body{
    padding: 0px;
    margin: 0px;
}

.header{
    display: flex;
    background-color: #1F2937;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
}

.header p{
    color: #F9FAF8;
    font-size: 24px;
    display: flex;
    align-items: center;
    
}

.header .headerLinks{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: auto;
}

.headerLinks a{
    color: rgb(173, 173, 173);
    text-decoration: none;
}
.headerLinks a:hover{
    color: rgb(200, 200, 200);

}
.heroHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 75px;

    background-color: #1F2937;
    padding: 48px;
    margin-bottom: 30px;

}

.heroHeader .heroLeftSide h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.heroHeader .heroLeftSide p{
    font-size: 18px;
    color: #E5e7EB;
}

.heroHeader .heroLeftSide button{
    display: flex;
    padding: 10px 15px;

    background-color: #3882F6;
    color: white;

    border: none;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
}

.heroHeader .heroLeftSide button:hover{
    background-color: #4f8ff5;
}

.heroHeader .heroRightSide img{
    height: 400px;
    width: 500px;
}

.informationalSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 30px;

}

.informationalSection h2{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;

}

.informationalSection .exampleImages{
    display: flex;
    flex-wrap: wrap;
}


.informationalSection .exampleImages img{
    height: 175px;

    border:#3882F6;
    border-style: solid;
    border-radius: 8px;
}

.informationalSection .exampleImages p, img{
    width: 250px;
    margin: 5px 20px;
}

.quoteSection{
    background-color: #E5e7EB;
    display: flex;
    flex-direction: column;

    flex-wrap: wrap;
}

.quoteSection .alignQuote{
    display: flex;
}

.alignQuote .emptySpaceLeft{
    flex: 1.4;
}

.alignQuote .quote{
    color: #1F2937;
    font-size: 36px;
    font-style: italic;

    flex: 3;
}

.alignQuote .emptySpaceRight{
    flex: 1;
}

.quoteSection .customer{
    display: flex;
}

.customer .emptySpace{
    flex-grow: 3;
}

.customer p{
    color: #1F2937;
    font-size: 18px;
    font-weight: bolder;

    flex-grow: 1;
}
